:root {
   --textColor: #51ff99;
   --hoverColor: #8ddfa6;
    --colorBlue: rgba(19, 135, 245, 1);
    --colorPink: rgba(231, 15, 170, 1);
 
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right:  1em;
}
.item a {
    color: var(--colorBlue);
    text-decoration: none;
}
.item a:hover {
    color:  var(--colorPink);
    transition: .5s;
}