:root {
   --textColor: #51ff99;
   --hoverColor: #8ddfa6;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right:  1em;
}
.item a {
    color: var(--textColor);
    text-decoration: none;
}
.item a:hover {
    color:  var(--hoverColor);
    transition: 1s;
}